configuration/generated/wsi/remote/gw/webservice/pc/pc900/ClaimToPolicySystemNotificationAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/ccintegration/ClaimToPolicySystemNotificationAPI" name="ClaimToPolicySystemNotificationAPI" targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/ccintegration/ClaimToPolicySystemNotificationAPI">
  <wsdl:types>
    <xs:schema xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc900/ccintegration/ClaimToPolicySystemNotificationAPI">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="soapheaders.xsd"/>
      <!-- claimExceedsThreshold(Date, String, MonetaryAmount, String) -->
      <xs:element name="claimExceedsThreshold">
        <xs:complexType>
          <xs:sequence>
            <xs:element gw:type="java.util.Date" minOccurs="0" name="lossDate" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="policyNumber" type="xs:string"/>
            <xs:element gw:type="gw.pl.currency.MonetaryAmount" minOccurs="0" name="grossTotalIncurred" type="xs:string"/>
            <xs:element minOccurs="0" name="transactionId" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="claimExceedsThresholdResponse">
        <xs:complexType/>
      </xs:element>
      <xs:element name="BadIdentifierException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="AlreadyExecutedException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="ClaimToPolicySystemNotificationAPIPortType">
    <wsdl:operation name="claimExceedsThreshold">
      <wsdl:input message="tns:claimExceedsThreshold" name="claimExceedsThreshold"/>
      <wsdl:output message="tns:claimExceedsThresholdResponse" name="claimExceedsThresholdResponse"/>
      <!-- If the policyNumber and lossDate do not identify a policy. -->
      <wsdl:fault message="tns:BadIdentifierException" name="BadIdentifierException"/>
      <!-- If this notification is duplicated for. -->
      <wsdl:fault message="tns:AlreadyExecutedException" name="AlreadyExecutedException"/>
      <wsdl:fault message="tns:WsiAuthenticationException" name="WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClaimToPolicySystemNotificationAPISoap12Binding" type="tns:ClaimToPolicySystemNotificationAPIPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="claimExceedsThreshold">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="claimExceedsThreshold">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="claimExceedsThresholdResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AlreadyExecutedException">
        <soap12:fault name="AlreadyExecutedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClaimToPolicySystemNotificationAPISoap11Binding" type="tns:ClaimToPolicySystemNotificationAPIPortType">
    <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="claimExceedsThreshold">
      <soap11:operation style="document"/>
      <wsdl:input name="claimExceedsThreshold">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="claimExceedsThresholdResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AlreadyExecutedException">
        <soap11:fault name="AlreadyExecutedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClaimToPolicySystemNotificationAPI">
    <wsdl:port binding="tns:ClaimToPolicySystemNotificationAPISoap12Binding" name="ClaimToPolicySystemNotificationAPISoap12Port">
      <soap12:address location="http://localhost:8180/pc/ws/gw/webservice/pc/pc900/ccintegration/ClaimToPolicySystemNotificationAPI"/>
      <gwwsdl:address location="${pc}/ws/gw/webservice/pc/pc900/ccintegration/ClaimToPolicySystemNotificationAPI"/>
    </wsdl:port>
    <wsdl:port binding="tns:ClaimToPolicySystemNotificationAPISoap11Binding" name="ClaimToPolicySystemNotificationAPISoap11Port">
      <soap11:address location="http://localhost:8180/pc/ws/gw/webservice/pc/pc900/ccintegration/ClaimToPolicySystemNotificationAPI/soap11"/>
      <gwwsdl:address location="${pc}/ws/gw/webservice/pc/pc900/ccintegration/ClaimToPolicySystemNotificationAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="claimExceedsThreshold">
    <wsdl:part element="tns:claimExceedsThreshold" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="claimExceedsThresholdResponse">
    <wsdl:part element="tns:claimExceedsThresholdResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BadIdentifierException">
    <wsdl:part element="tns:BadIdentifierException" name="BadIdentifierException"/>
  </wsdl:message>
  <wsdl:message name="AlreadyExecutedException">
    <wsdl:part element="tns:AlreadyExecutedException" name="AlreadyExecutedException"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part element="tns:WsiAuthenticationException" name="WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part element="gwsoap:authentication" name="gw-authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part element="gwsoap:locale" name="gw-locale"/>
  </wsdl:message>
</wsdl:definitions>