configuration/generated/gw/acc/iplm/xsd/imr/schema_wsdl/AcordMsgSvc_v-1-4-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Serge Cayron (ACORD) -->
<!--

This is the ACORD Messaging Service specification's 

**** version 1.3.0 Schema **** 

Generated: February 17, 2005                                                        

COPYRIGHT NOTICE:
(c) 2001-2006 ACORD.  All Rights Reserved.

   Use of this Schema and its documentation are covered by the terms and
   conditions file that was included in the distribution file in which you
   found this Schema.

   http://www.acord.org

-->
<xs:schema
	xmlns="http://www.ACORD.org/Standards/AcordMsgSvc/1.4.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	xmlns:xenc="http://www.w3.org/2001/04/xmlenc#"
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	xmlns:wsa="http://www.w3.org/2005/08/addressing"
	targetNamespace="http://www.ACORD.org/Standards/AcordMsgSvc/1.4.0"
	elementFormDefault="unqualified"
	attributeFormDefault="unqualified"
	version="1.4.0">
	<xs:include schemaLocation="../AcordMsgSvc_base_v-1-4-0.xsd"/>
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<xs:import namespace="http://www.w3.org/2001/04/xmlenc#" schemaLocation="xenc-schema.xsd"/>
	<xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" schemaLocation="oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
	<xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" schemaLocation="oasis-200401-wss-wssecurity-utility-1.0.xsd"/>
	<xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="ws-addr.xsd"/>
	<!--******************-->
	<!--MRs and Changes applied-->
	<!--******************-->
	<!--Inbox port messages-->
	<xs:element name="ListInRq" type="ListInRqType"/>
	<xs:element name="ListInRs" type="ListInRsType"/>
	<xs:element name="PostRq" type="PostRqType"/>
	<xs:element name="PostRs" type="PostRsType"/>
	<xs:element name="StatusInRq" type="StatusInRqType"/>
	<xs:element name="StatusInRs" type="StatusInRsType"/>
	<!--Outbox port messages-->
	<xs:element name="ListOutRq" type="ListOutRqType"/>
	<xs:element name="ListOutRs" type="ListOutRsType"/>
	<xs:element name="RetrieveRs" type="RetrieveRsType"/>
	<xs:element name="RetrieveRq" type="RetrieveRqType"/>
	<xs:element name="StatusOutRs" type="StatusOutRsType"/>
	<xs:element name="StatusOutRq" type="StatusOutRqType"/>
	<!--Call port messages-->
	<xs:element name="CallRq" type="CallRqType"/>
	<xs:element name="CallRs" type="CallRsType"/>
	<!--Ping port messages-->
	<xs:element name="PingRq" type="PingRqType"/>
	<xs:element name="PingRs" type="PingRsType"/>
	<!--Inbox port message types-->
	<xs:complexType name="ListInRqType">
		<xs:sequence>
			<xs:element ref="SvcIndicCd" minOccurs="0"/>
			<xs:group ref="ROUTETIME_Group"/>
			<xs:element ref="MsgItems" minOccurs="0"/>
			<xs:element ref="SyncItem" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListInRsType">
		<xs:sequence>
			<xs:element ref="SvcIndicCd" minOccurs="0"/>
			<xs:group ref="ROUTETIME_Group"/>
			<xs:element ref="MsgItems" minOccurs="0"/>
			<xs:element ref="SyncItem" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostRqType">
		<xs:choice>
			<xs:element ref="xenc:EncryptedData"/>
			<xs:sequence>
				<xs:group ref="ROUTETIME_Group"/>
				<xs:element ref="MsgItem"/>
				<xs:element ref="ResentMsgItem" minOccurs="0"/>
				<xs:element ref="RqItem" minOccurs="0"/>
				<xs:element ref="SecurityProfileCd" minOccurs="0"/>
				<xs:element ref="WorkFolder"/>
			</xs:sequence>
			<!--1.0.1-->
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PostRsType">
		<xs:sequence>
			<xs:group ref="ROUTETIME_Group"/>
			<xs:element ref="MsgItems"/>
			<!--1.0.1-->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatusInRqType">
		<xs:sequence>
			<xs:group ref="ROUTETIME_Group"/>
			<xs:element ref="MsgItems" minOccurs="0"/>
			<!--1.0.1-->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatusInRsType">
		<xs:sequence>
			<xs:group ref="ROUTETIME_Group"/>
			<xs:element ref="MsgItems"/>
		</xs:sequence>
	</xs:complexType>
	<!--Outbox port message types-->
	<xs:complexType name="ListOutRsType">
		<xs:sequence>
			<xs:element ref="SvcIndicCd" minOccurs="0"/>
			<xs:group ref="ROUTETIME_Group"/>
			<xs:element ref="MsgItems" minOccurs="0"/>
			<xs:element ref="SyncItem" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListOutRqType">
		<xs:sequence>
			<xs:element ref="SvcIndicCd" minOccurs="0"/>
			<xs:group ref="ROUTETIME_Group"/>
			<xs:element ref="MsgItems" minOccurs="0"/>
			<xs:element ref="SyncItem" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetrieveRsType">
		<xs:choice>
			<xs:element ref="xenc:EncryptedData"/>
			<xs:sequence>
				<xs:element ref="SvcIndicCd" minOccurs="0"/>
				<xs:group ref="ROUTETIME_Group"/>
				<xs:element ref="MsgItem" minOccurs="0"/>
				<xs:element ref="ResentMsgItem" minOccurs="0"/>
				<xs:element ref="RqItem" minOccurs="0"/>
				<xs:element ref="SecurityProfileCd" minOccurs="0"/>
				<xs:element ref="WorkFolder" minOccurs="0"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RetrieveRqType">
		<xs:sequence>
			<xs:element ref="Sender"/>
			<xs:element ref="Receiver"/>
			<xs:element ref="Application"/>
			<xs:element ref="TimeStamp"/>
			<xs:element ref="MsgItem" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatusOutRsType">
		<xs:sequence>
			<xs:element ref="SvcIndicCd" minOccurs="0"/>
			<xs:element ref="Sender"/>
			<xs:element ref="Receiver"/>
			<xs:element ref="Application"/>
			<xs:element ref="TimeStamp"/>
			<xs:element ref="MsgItems" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatusOutRqType">
		<xs:sequence>
			<xs:group ref="ROUTETIME_Group"/>
			<xs:element ref="MsgItems"/>
		</xs:sequence>
	</xs:complexType>
	<!--Call port message types-->
	<xs:complexType name="CallRqType">
		<xs:choice>
			<xs:element ref="xenc:EncryptedData"/>
			<xs:sequence>
				<xs:group ref="ROUTETIME_Group"/>
				<xs:element ref="MsgItem"/>
				<xs:element ref="ResentMsgItem" minOccurs="0"/>
				<xs:element ref="SecurityProfileCd" minOccurs="0"/>
				<xs:element ref="WorkFolder"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CallRsType">
		<xs:choice>
			<xs:element ref="xenc:EncryptedData"/>
			<xs:sequence>
				<xs:group ref="ROUTETIME_Group"/>
				<xs:element ref="MsgItem" minOccurs="0"/>
				<xs:element ref="RqItem"/>
				<xs:element ref="WorkFolder" minOccurs="0"/>
			</xs:sequence>
			<!--1.0.1-->
			<!--1.0.1-->
		</xs:choice>
	</xs:complexType>
	<!--Ping message types-->
	<xs:complexType name="PingRqType">
		<xs:sequence>
			<xs:element ref="Sender"/>
			<xs:element ref="Receiver"/>
			<xs:element ref="Application"/>
			<xs:element ref="TimeStamp"/>
			<xs:element ref="PingId"/>
			<xs:element ref="SecurityProfileCd" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PingRsType">
		<xs:sequence>
			<xs:element ref="Sender"/>
			<xs:element ref="Receiver"/>
			<xs:element ref="Application"/>
			<xs:element ref="TimeStamp"/>
			<xs:element ref="PingId"/>
			<xs:element ref="SecurityProfileCd" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--Other types in alphabetic order-->
	<xs:complexType name="AttachmentType">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="Document"/>
				<xs:element ref="Message"/>
			</xs:choice>
			<xs:element ref="FileSignature" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttachmentPackageType">
		<xs:sequence>
			<xs:element ref="Owner" minOccurs="0"/>
			<xs:element ref="Operator" minOccurs="0"/>
			<xs:element ref="RepositoryService" minOccurs="0"/>
			<xs:element ref="CommunicationChannelCd"/>
			<xs:element ref="FileId" minOccurs="0"/>
			<xs:element ref="FileFormatCd" minOccurs="0"/>
			<xs:element ref="FileSize" minOccurs="0"/>
			<xs:element ref="RetrievalExpiryDtTime" minOccurs="0"/>
			<xs:element ref="Description" minOccurs="0"/>
			<xs:element ref="FileCipher" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element ref="FileDigest"/>
				<xs:element ref="FileSignature" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:element ref="Attachments"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentType">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="DocumentId"/>
				<xs:element ref="DocumentReference"/>
			</xs:choice>
			<xs:element ref="DocumentVersion" minOccurs="0"/>
			<xs:element ref="DocumentVersionDtTime" minOccurs="0"/>
			<xs:element ref="FileId" minOccurs="0"/>
			<xs:element ref="FileFormatCd" minOccurs="0"/>
			<xs:element ref="FileSize" minOccurs="0"/>
			<xs:element ref="DocumentTypeCd" minOccurs="0"/>
			<xs:element ref="Description" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageType">
		<xs:sequence>
			<xs:element ref="Application"/>
			<xs:element ref="MsgItem"/>
			<xs:element ref="FileId" minOccurs="0"/>
			<xs:element ref="FileFormatCd" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgFileType">
		<xs:sequence>
			<xs:element ref="FileId"/>
			<xs:element ref="FileFormatCd"/>
			<xs:element ref="FileCipher" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element ref="FileDigest"/>
				<xs:element ref="FileSignature"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MSGID_Type">
		<xs:complexContent>
			<xs:restriction base="MSGIDSTATUS_Type">
				<xs:sequence>
					<xs:element ref="MsgId"/>
					<xs:element ref="MsgReference" minOccurs="0"/>
					<xs:element ref="MsgTypeCd"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MSGIDSTATUS_Type">
		<xs:sequence>
			<xs:element ref="MsgId"/>
			<xs:element ref="MsgReference" minOccurs="0"/>
			<xs:element ref="MsgTypeCd"/>
			<xs:element ref="MsgStatusCd" minOccurs="0"/>
			<xs:element ref="MsgStatusDetails" minOccurs="0"/>
			<xs:element ref="MsgSignature" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MsgStatusCdType">
		<xs:restriction base="EnumType">
			<xs:enumeration value="completed"/>
			<xs:enumeration value="delivered"/>
			<xs:enumeration value="in_process"/>
			<xs:enumeration value="in_sequence"/>
			<xs:enumeration value="invalid_payload"/>
			<xs:enumeration value="out_of_sequence"/>
			<xs:enumeration value="received"/>
			<xs:enumeration value="security"/>
			<xs:enumeration value="type_accepted"/>
			<xs:enumeration value="unknown"/>
			<xs:enumeration value="unsupported_communication_channel"/>
			<xs:enumeration value="unwrapped"/>
			<xs:enumeration value="unwrapping_failed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SvcIndicCdType">
		<xs:restriction base="EnumType">
			<xs:enumeration value="resync"/>
			<xs:enumeration value="retrieve_empty"/>
			<xs:enumeration value="retrieve_unknown"/>
			<xs:enumeration value="status"/>
			<xs:enumeration value="transfer"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SyncItemType">
		<xs:sequence>
			<xs:element ref="MsgId"/>
			<xs:element ref="MsgStatusCd" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkFolderType">
		<xs:sequence>
			<xs:element ref="MsgFile"/>
			<xs:element ref="AttachmentPackages" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--Groups-->
	<xs:group name="ROUTETIME_Group">
		<xs:sequence>
			<xs:element ref="Sender"/>
			<xs:element ref="Receiver"/>
			<xs:element ref="Application"/>
			<xs:element ref="TimeStamp"/>
			<xs:element ref="wsa:EndpointReference" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<!--Security extension types-->
	<xs:complexType name="FileCipher_Type">
		<xs:sequence>
			<xs:element ref="xenc:EncryptedData"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FileDigest_Type">
		<xs:sequence>
			<xs:element ref="ds:Reference"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FileSignature_Type">
		<xs:sequence>
			<xs:element ref="Signatory"/>
			<xs:element ref="wsse:BinarySecurityToken" minOccurs="0"/>
			<xs:element ref="ds:Signature"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgSignature_Type">
		<xs:sequence>
			<xs:element ref="ds:SignatureValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SecurityProfileCd_Type">
		<xs:restriction base="EnumType">
			<xs:enumeration value="Initial"/>
			<xs:enumeration value="Basic"/>
			<xs:enumeration value="DeliveryBasic"/>
			<xs:enumeration value="Medium"/>
			<xs:enumeration value="MediumSwa"/>
			<xs:enumeration value="Maximal"/>
			<xs:enumeration value="MaximalSwa"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Message elements in alphabetic order-->
	<xs:element name="Attachment">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AttachmentType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Attachments">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Attachment" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttachmentPackage" type="AttachmentPackageType"/>
	<xs:element name="AttachmentPackages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AttachmentPackage" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileCipher" type="FileCipher_Type"/>
	<xs:element name="FileDigest">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="FileDigest_Type"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileSignature" type="FileSignature_Type"/>
	<xs:element name="Document" type="DocumentType"/>
	<xs:element name="Message" type="MessageType"/>
	<xs:element name="MsgFile" type="MsgFileType"/>
	<xs:element name="MsgItem" type="MSGIDSTATUS_Type"/>
	<xs:element name="MsgItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MsgItem" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MsgSignature" type="MsgSignature_Type"/>
	<xs:element name="MsgStatusCd" type="MsgStatusCdType"/>
	<xs:element name="MsgStatusDetails" type="xs:string"/>
	<xs:element name="PingId" type="UUIdType"/>
	<xs:element name="Receiver">
		<xs:complexType>
			<xs:group ref="TRANSPARTY_Group"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResentMsgItem" type="MSGID_Type"/>
	<xs:element name="RetrievalExpiryDtTime" type="xs:dateTime"/>
	<xs:element name="RqItem" type="MSGIDSTATUS_Type"/>
	<xs:element name="Sender" type="GENERALPARTY_Type"/>
	<xs:element name="SecurityProfileCd" type="SecurityProfileCd_Type"/>
	<xs:element name="Signatory" type="GENERALPARTY_Type"/>
	<xs:element name="SvcIndicCd" type="SvcIndicCdType"/>
	<xs:element name="SyncItem" type="SyncItemType"/>
	<xs:element name="TimeStamp" type="xs:dateTime"/>
	<xs:element name="WorkFolder" type="WorkFolderType"/>
</xs:schema>
