configuration/generated/gw/webservice/cc/system/integration/messaging/isoxmlwebservice/xmlsoap.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://tempuri.org/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp200409="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp200607="http://www.w3.org/2006/07/ws-policy" targetNamespace="http://tempuri.org/">
<wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:schema>
<xsd:import namespace="http://tempuri.org/" schemaLocation="xmlsoap_xsd1.xsd"/></xsd:schema></wsdl:types>
<wsdl:message name="SubmitToISOISOLogin">
<wsdl:part xmlns:xsns="http://tempuri.org/" element="xsns:ISOLogin" name="ISOLogin"/></wsdl:message>
<wsdl:message name="SubmitToISOSoapIn">
<wsdl:part xmlns:xsns="http://tempuri.org/" element="xsns:SubmitToISO" name="parameters"/></wsdl:message>
<wsdl:message name="SubmitToISOSoapOut">
<wsdl:part xmlns:xsns="http://tempuri.org/" element="xsns:SubmitToISOResponse" name="parameters"/></wsdl:message>
<wsdl:message name="VaildateSchemaISOLogin">
<wsdl:part xmlns:xsns="http://tempuri.org/" element="xsns:ISOLogin" name="ISOLogin"/></wsdl:message>
<wsdl:message name="VaildateSchemaSoapIn">
<wsdl:part xmlns:xsns="http://tempuri.org/" element="xsns:VaildateSchema" name="parameters"/></wsdl:message>
<wsdl:message name="VaildateSchemaSoapOut">
<wsdl:part xmlns:xsns="http://tempuri.org/" element="xsns:VaildateSchemaResponse" name="parameters"/></wsdl:message>
<wsdl:portType name="ISOXmlWebServiceSoap">
<wsdl:operation name="SubmitToISO">
<wsdl:input message="ns0:SubmitToISOSoapIn" name="SubmitToISORequest"/>
<wsdl:output message="ns0:SubmitToISOSoapOut" name="SubmitToISOResponse"/></wsdl:operation>
<wsdl:operation name="VaildateSchema">
<wsdl:input message="ns0:VaildateSchemaSoapIn" name="VaildateSchemaRequest"/>
<wsdl:output message="ns0:VaildateSchemaSoapOut" name="VaildateSchemaResponse"/></wsdl:operation></wsdl:portType>
<wsdl:binding name="ISOXmlWebServiceSoap" type="ns0:ISOXmlWebServiceSoap">
<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="SubmitToISO">
<soap11:operation soapAction="http://tempuri.org/SubmitToISO" style="document"/>
<wsdl:input name="SubmitToISORequest">
<soap11:body use="literal"/>
<soap11:header message="ns0:SubmitToISOISOLogin" part="ISOLogin" use="literal"/></wsdl:input>
<wsdl:output name="SubmitToISOResponse">
<soap11:body use="literal"/></wsdl:output></wsdl:operation>
<wsdl:operation name="VaildateSchema">
<soap11:operation soapAction="http://tempuri.org/VaildateSchema" style="document"/>
<wsdl:input name="VaildateSchemaRequest">
<soap11:body use="literal"/>
<soap11:header message="ns0:VaildateSchemaISOLogin" part="ISOLogin" use="literal"/></wsdl:input>
<wsdl:output name="VaildateSchemaResponse">
<soap11:body use="literal"/></wsdl:output></wsdl:operation></wsdl:binding>
<wsdl:service name="ISOXmlWebService">
<wsdl:port binding="ns0:ISOXmlWebServiceSoap" name="ISOXmlWebServiceSoap">
<soap11:address location="https://claimsearchgwa.iso.com/xmlsoap"/></wsdl:port></wsdl:service></wsdl:definitions>