configuration/gsrc/wsi/remote/microsoft/bingmaps/GeocodeServiceWS1.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://dev.virtualearth.net/webservices/v1/geocode/contracts" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dev.virtualearth.net/webservices/v1/geocode/contracts">
  <wsdl:types>
    <xsd:schema targetNamespace="http://dev.virtualearth.net/webservices/v1/geocode/contracts/Imports">
      <xsd:import namespace="http://dev.virtualearth.net/webservices/v1/geocode/contracts" schemaLocation="GeocodeService.xsd"/>
      <xsd:import namespace="http://dev.virtualearth.net/webservices/v1/common" schemaLocation="GeocodeService1.xsd"/>
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="GeocodeService4.xsd"/>
      <xsd:import namespace="http://dev.virtualearth.net/webservices/v1/geocode" schemaLocation="GeocodeService2.xsd"/>
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" schemaLocation="GeocodeService3.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeocodeService_Geocode_InputMessage">
    <wsdl:part element="tns:Geocode" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IGeocodeService_Geocode_OutputMessage">
    <wsdl:part element="tns:GeocodeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IGeocodeService_Geocode_ResponseSummaryFault_FaultMessage">
    <wsdl:part xmlns:q1="http://dev.virtualearth.net/webservices/v1/common" element="q1:ResponseSummary" name="detail"/>
  </wsdl:message>
  <wsdl:message name="IGeocodeService_ReverseGeocode_InputMessage">
    <wsdl:part element="tns:ReverseGeocode" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IGeocodeService_ReverseGeocode_OutputMessage">
    <wsdl:part element="tns:ReverseGeocodeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IGeocodeService_ReverseGeocode_ResponseSummaryFault_FaultMessage">
    <wsdl:part xmlns:q2="http://dev.virtualearth.net/webservices/v1/common" element="q2:ResponseSummary" name="detail"/>
  </wsdl:message>
  <wsdl:portType name="IGeocodeService">
    <wsdl:operation name="Geocode">
      <wsdl:input message="tns:IGeocodeService_Geocode_InputMessage" wsaw:Action="http://dev.virtualearth.net/webservices/v1/geocode/contracts/IGeocodeService/Geocode"/>
      <wsdl:output message="tns:IGeocodeService_Geocode_OutputMessage" wsaw:Action="http://dev.virtualearth.net/webservices/v1/geocode/contracts/IGeocodeService/GeocodeResponse"/>
      <wsdl:fault message="tns:IGeocodeService_Geocode_ResponseSummaryFault_FaultMessage" name="ResponseSummaryFault" wsaw:Action="http://dev.virtualearth.net/webservices/v1/geocode/contracts/IGeocodeService/GeocodeResponseSummaryFault"/>
    </wsdl:operation>
    <wsdl:operation name="ReverseGeocode">
      <wsdl:input message="tns:IGeocodeService_ReverseGeocode_InputMessage" wsaw:Action="http://dev.virtualearth.net/webservices/v1/geocode/contracts/IGeocodeService/ReverseGeocode"/>
      <wsdl:output message="tns:IGeocodeService_ReverseGeocode_OutputMessage" wsaw:Action="http://dev.virtualearth.net/webservices/v1/geocode/contracts/IGeocodeService/ReverseGeocodeResponse"/>
      <wsdl:fault message="tns:IGeocodeService_ReverseGeocode_ResponseSummaryFault_FaultMessage" name="ResponseSummaryFault" wsaw:Action="http://dev.virtualearth.net/webservices/v1/geocode/contracts/IGeocodeService/ReverseGeocodeResponseSummaryFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>