configuration/gsrc/wsi/remote/microsoft/bingmaps/routeserviceWS2.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://dev.virtualearth.net/webservices/v1/route/contracts" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dev.virtualearth.net/webservices/v1/route/contracts">
  <wsdl:types>
    <xsd:schema targetNamespace="http://dev.virtualearth.net/webservices/v1/route/contracts/Imports">
      <xsd:import namespace="http://dev.virtualearth.net/webservices/v1/route/contracts" schemaLocation="routeservice2.xsd"/>
      <xsd:import namespace="http://dev.virtualearth.net/webservices/v1/common" schemaLocation="routeservice.xsd"/>
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="routeservice1.xsd"/>
      <xsd:import namespace="http://dev.virtualearth.net/webservices/v1/route" schemaLocation="routeservice3.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRouteService_CalculateRoute_InputMessage">
    <wsdl:part element="tns:CalculateRoute" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IRouteService_CalculateRoute_OutputMessage">
    <wsdl:part element="tns:CalculateRouteResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IRouteService_CalculateRoute_ResponseSummaryFault_FaultMessage">
    <wsdl:part xmlns:q1="http://dev.virtualearth.net/webservices/v1/common" element="q1:ResponseSummary" name="detail"/>
  </wsdl:message>
  <wsdl:message name="IRouteService_CalculateRoutesFromMajorRoads_InputMessage">
    <wsdl:part element="tns:CalculateRoutesFromMajorRoads" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IRouteService_CalculateRoutesFromMajorRoads_OutputMessage">
    <wsdl:part element="tns:CalculateRoutesFromMajorRoadsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="IRouteService_CalculateRoutesFromMajorRoads_ResponseSummaryFault_FaultMessage">
    <wsdl:part xmlns:q2="http://dev.virtualearth.net/webservices/v1/common" element="q2:ResponseSummary" name="detail"/>
  </wsdl:message>
  <wsdl:portType name="IRouteService">
    <wsdl:operation name="CalculateRoute">
      <wsdl:input message="tns:IRouteService_CalculateRoute_InputMessage" wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRoute"/>
      <wsdl:output message="tns:IRouteService_CalculateRoute_OutputMessage" wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRouteResponse"/>
      <wsdl:fault message="tns:IRouteService_CalculateRoute_ResponseSummaryFault_FaultMessage" name="ResponseSummaryFault" wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRouteResponseSummaryFault"/>
    </wsdl:operation>
    <wsdl:operation name="CalculateRoutesFromMajorRoads">
      <wsdl:input message="tns:IRouteService_CalculateRoutesFromMajorRoads_InputMessage" wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRoutesFromMajorRoads"/>
      <wsdl:output message="tns:IRouteService_CalculateRoutesFromMajorRoads_OutputMessage" wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRoutesFromMajorRoadsResponse"/>
      <wsdl:fault message="tns:IRouteService_CalculateRoutesFromMajorRoads_ResponseSummaryFault_FaultMessage" name="ResponseSummaryFault" wsaw:Action="http://dev.virtualearth.net/webservices/v1/route/contracts/IRouteService/CalculateRoutesFromMajorRoadsResponseSummaryFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>