configuration/generated/wsi/local/gw/webservice/cc/TemplateToolsAPI.wsdl

<?xml version="1.0"?>
<!-- Generated WSDL for gw.webservice.cc.TemplateToolsAPI web service -->
<wsdl:definitions targetNamespace="http://guidewire.com/cc/ws/gw/webservice/cc/TemplateToolsAPI" name="TemplateToolsAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://guidewire.com/gw/api/webservice/templateTools/validation" xmlns:pogo2="http://guidewire.com/gw/api/webservice/templateTools" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/cc/ws/gw/webservice/cc/TemplateToolsAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/cc/ws/gw/webservice/cc/TemplateToolsAPI" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="../../../../../gw/xsd/guidewire/soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/gw/api/webservice/templateTools"/>
      <xs:import namespace="http://guidewire.com/gw/api/webservice/templateTools/validation"/>
      <!-- validateDocumentTemplate(String) : String -->
      <xs:element name="validateDocumentTemplate">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="templateID" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateDocumentTemplateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SOAPException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
      <!-- validateTemplate(String) : String -->
      <xs:element name="validateTemplate">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="templateID" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateTemplateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- validateDocumentTemplateInLocale(String, String) : String -->
      <xs:element name="validateDocumentTemplateInLocale">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="templateID" type="xs:string" minOccurs="0"/>
            <xs:element name="locale" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateDocumentTemplateInLocaleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- validateTemplateInLocale(String, String) : String -->
      <xs:element name="validateTemplateInLocale">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="templateID" type="xs:string" minOccurs="0"/>
            <xs:element name="locale" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateTemplateInLocaleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- validateAllDocumentTemplates() : String -->
      <xs:element name="validateAllDocumentTemplates">
        <xs:complexType/>
      </xs:element>
      <xs:element name="validateAllDocumentTemplatesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- validateAllTemplates() : String -->
      <xs:element name="validateAllTemplates">
        <xs:complexType/>
      </xs:element>
      <xs:element name="validateAllTemplatesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- validateAllDocumentTemplatesInLocale(String) : String -->
      <xs:element name="validateAllDocumentTemplatesInLocale">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="locale" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateAllDocumentTemplatesInLocaleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- validateAllTemplatesInLocale(String) : String -->
      <xs:element name="validateAllTemplatesInLocale">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="locale" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateAllTemplatesInLocaleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- validateAllEmailTemplates(NameTypePair[]) : String -->
      <xs:element name="validateAllEmailTemplates">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="beanNamesAndTypes" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="pogo:NameTypePair" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateAllEmailTemplatesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- validateAllEmailTemplatesInLocale(NameTypePair[], String) : String -->
      <xs:element name="validateAllEmailTemplatesInLocale">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="beanNamesAndTypes" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="pogo:NameTypePair" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="locale" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateAllEmailTemplatesInLocaleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- validateEmailTemplate(String, NameTypePair[]) : String -->
      <xs:element name="validateEmailTemplate">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="templateFileName" type="xs:string" minOccurs="0"/>
            <xs:element name="beanNamesAndTypes" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="pogo:NameTypePair" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateEmailTemplateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- validateEmailTemplateInLocale(String, NameTypePair[], String) : String -->
      <xs:element name="validateEmailTemplateInLocale">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="templateFileName" type="xs:string" minOccurs="0"/>
            <xs:element name="beanNamesAndTypes" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="pogo:NameTypePair" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="locale" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateEmailTemplateInLocaleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- validateAllNoteTemplates(NameTypePair[]) : String -->
      <xs:element name="validateAllNoteTemplates">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="beanNamesAndTypes" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="pogo:NameTypePair" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateAllNoteTemplatesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- validateAllNoteTemplatesInLocale(NameTypePair[], String) : String -->
      <xs:element name="validateAllNoteTemplatesInLocale">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="beanNamesAndTypes" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="pogo:NameTypePair" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="locale" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateAllNoteTemplatesInLocaleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- validateNoteTemplate(String, NameTypePair[]) : String -->
      <xs:element name="validateNoteTemplate">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="templateFileName" type="xs:string" minOccurs="0"/>
            <xs:element name="beanNamesAndTypes" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="pogo:NameTypePair" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateNoteTemplateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- validateNoteTemplateInLocale(String, NameTypePair[], String) : String -->
      <xs:element name="validateNoteTemplateInLocale">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="templateFileName" type="xs:string" minOccurs="0"/>
            <xs:element name="beanNamesAndTypes" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="pogo:NameTypePair" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="locale" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateNoteTemplateInLocaleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- listTemplates() : String -->
      <xs:element name="listTemplates">
        <xs:complexType/>
      </xs:element>
      <xs:element name="listTemplatesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- listDocumentTemplates() : String -->
      <xs:element name="listDocumentTemplates">
        <xs:complexType/>
      </xs:element>
      <xs:element name="listDocumentTemplatesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- listEmailTemplates() : String -->
      <xs:element name="listEmailTemplates">
        <xs:complexType/>
      </xs:element>
      <xs:element name="listEmailTemplatesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- listNoteTemplates() : String -->
      <xs:element name="listNoteTemplates">
        <xs:complexType/>
      </xs:element>
      <xs:element name="listNoteTemplatesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- importFormFields(String, String, String, String) : TemplateImportResults -->
      <xs:element name="importFormFields">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="contextObjectFileContents" type="xs:string" minOccurs="0"/>
            <xs:element name="fieldGroupFileContents" type="xs:string" minOccurs="0"/>
            <xs:element name="fieldFileContents" type="xs:string" minOccurs="0"/>
            <xs:element name="descriptorFileContents" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="importFormFieldsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="pogo2:TemplateImportResults" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/gw/api/webservice/templateTools/validation" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/gw/api/webservice/templateTools"/>
      <xs:complexType name="NameTypePair">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" minOccurs="0"/>
          <xs:element name="Type" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/gw/api/webservice/templateTools" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/gw/api/webservice/templateTools/validation"/>
      <xs:complexType name="TemplateImportResults">
        <xs:sequence>
          <xs:element name="FileContents" type="xs:string" minOccurs="0"/>
          <xs:element name="Output" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="TemplateToolsAPIPortType">
    <wsdl:operation name="validateDocumentTemplate">
      <wsdl:input name="validateDocumentTemplate" message="tns:validateDocumentTemplate"/>
      <wsdl:output name="validateDocumentTemplateResponse" message="tns:validateDocumentTemplateResponse"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="validateTemplate">
      <wsdl:documentation>@deprecated: use validateDocumentTemplate instead</wsdl:documentation>
      <wsdl:input name="validateTemplate" message="tns:validateTemplate"/>
      <wsdl:output name="validateTemplateResponse" message="tns:validateTemplateResponse"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="validateDocumentTemplateInLocale">
      <wsdl:input name="validateDocumentTemplateInLocale" message="tns:validateDocumentTemplateInLocale"/>
      <wsdl:output name="validateDocumentTemplateInLocaleResponse" message="tns:validateDocumentTemplateInLocaleResponse"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="validateTemplateInLocale">
      <wsdl:documentation>@deprecated: use validateDocumentTemplateInLocale instead</wsdl:documentation>
      <wsdl:input name="validateTemplateInLocale" message="tns:validateTemplateInLocale"/>
      <wsdl:output name="validateTemplateInLocaleResponse" message="tns:validateTemplateInLocaleResponse"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="validateAllDocumentTemplates">
      <wsdl:input name="validateAllDocumentTemplates" message="tns:validateAllDocumentTemplates"/>
      <wsdl:output name="validateAllDocumentTemplatesResponse" message="tns:validateAllDocumentTemplatesResponse"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="validateAllTemplates">
      <wsdl:documentation>@deprecated: use validateAllDocumentTemplates instead</wsdl:documentation>
      <wsdl:input name="validateAllTemplates" message="tns:validateAllTemplates"/>
      <wsdl:output name="validateAllTemplatesResponse" message="tns:validateAllTemplatesResponse"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="validateAllDocumentTemplatesInLocale">
      <wsdl:input name="validateAllDocumentTemplatesInLocale" message="tns:validateAllDocumentTemplatesInLocale"/>
      <wsdl:output name="validateAllDocumentTemplatesInLocaleResponse" message="tns:validateAllDocumentTemplatesInLocaleResponse"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="validateAllTemplatesInLocale">
      <wsdl:documentation>@deprecated: use validateAllDocumentTemplatesInLocale instead</wsdl:documentation>
      <wsdl:input name="validateAllTemplatesInLocale" message="tns:validateAllTemplatesInLocale"/>
      <wsdl:output name="validateAllTemplatesInLocaleResponse" message="tns:validateAllTemplatesInLocaleResponse"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="validateAllEmailTemplates">
      <wsdl:input name="validateAllEmailTemplates" message="tns:validateAllEmailTemplates"/>
      <wsdl:output name="validateAllEmailTemplatesResponse" message="tns:validateAllEmailTemplatesResponse"/>
      <!-- [, ] -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="validateAllEmailTemplatesInLocale">
      <wsdl:input name="validateAllEmailTemplatesInLocale" message="tns:validateAllEmailTemplatesInLocale"/>
      <wsdl:output name="validateAllEmailTemplatesInLocaleResponse" message="tns:validateAllEmailTemplatesInLocaleResponse"/>
      <!-- [, ] -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="validateEmailTemplate">
      <wsdl:input name="validateEmailTemplate" message="tns:validateEmailTemplate"/>
      <wsdl:output name="validateEmailTemplateResponse" message="tns:validateEmailTemplateResponse"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="validateEmailTemplateInLocale">
      <wsdl:input name="validateEmailTemplateInLocale" message="tns:validateEmailTemplateInLocale"/>
      <wsdl:output name="validateEmailTemplateInLocaleResponse" message="tns:validateEmailTemplateInLocaleResponse"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="validateAllNoteTemplates">
      <wsdl:input name="validateAllNoteTemplates" message="tns:validateAllNoteTemplates"/>
      <wsdl:output name="validateAllNoteTemplatesResponse" message="tns:validateAllNoteTemplatesResponse"/>
      <!-- [, ] -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="validateAllNoteTemplatesInLocale">
      <wsdl:input name="validateAllNoteTemplatesInLocale" message="tns:validateAllNoteTemplatesInLocale"/>
      <wsdl:output name="validateAllNoteTemplatesInLocaleResponse" message="tns:validateAllNoteTemplatesInLocaleResponse"/>
      <!-- [, ] -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="validateNoteTemplate">
      <wsdl:input name="validateNoteTemplate" message="tns:validateNoteTemplate"/>
      <wsdl:output name="validateNoteTemplateResponse" message="tns:validateNoteTemplateResponse"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="validateNoteTemplateInLocale">
      <wsdl:input name="validateNoteTemplateInLocale" message="tns:validateNoteTemplateInLocale"/>
      <wsdl:output name="validateNoteTemplateInLocaleResponse" message="tns:validateNoteTemplateInLocaleResponse"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="listTemplates">
      <wsdl:documentation>@deprecated: use listDocumentTemplates instead</wsdl:documentation>
      <wsdl:input name="listTemplates" message="tns:listTemplates"/>
      <wsdl:output name="listTemplatesResponse" message="tns:listTemplatesResponse"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="listDocumentTemplates">
      <wsdl:input name="listDocumentTemplates" message="tns:listDocumentTemplates"/>
      <wsdl:output name="listDocumentTemplatesResponse" message="tns:listDocumentTemplatesResponse"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="listEmailTemplates">
      <wsdl:input name="listEmailTemplates" message="tns:listEmailTemplates"/>
      <wsdl:output name="listEmailTemplatesResponse" message="tns:listEmailTemplatesResponse"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="listNoteTemplates">
      <wsdl:input name="listNoteTemplates" message="tns:listNoteTemplates"/>
      <wsdl:output name="listNoteTemplatesResponse" message="tns:listNoteTemplatesResponse"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="importFormFields">
      <wsdl:input name="importFormFields" message="tns:importFormFields"/>
      <wsdl:output name="importFormFieldsResponse" message="tns:importFormFieldsResponse"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TemplateToolsAPISoap12Binding" type="tns:TemplateToolsAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="validateDocumentTemplate">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="validateDocumentTemplate">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateDocumentTemplateResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateTemplate">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="validateTemplate">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateTemplateResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateDocumentTemplateInLocale">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="validateDocumentTemplateInLocale">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateDocumentTemplateInLocaleResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateTemplateInLocale">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="validateTemplateInLocale">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateTemplateInLocaleResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateAllDocumentTemplates">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="validateAllDocumentTemplates">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAllDocumentTemplatesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateAllTemplates">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="validateAllTemplates">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAllTemplatesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateAllDocumentTemplatesInLocale">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="validateAllDocumentTemplatesInLocale">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAllDocumentTemplatesInLocaleResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateAllTemplatesInLocale">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="validateAllTemplatesInLocale">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAllTemplatesInLocaleResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateAllEmailTemplates">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="validateAllEmailTemplates">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAllEmailTemplatesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateAllEmailTemplatesInLocale">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="validateAllEmailTemplatesInLocale">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAllEmailTemplatesInLocaleResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateEmailTemplate">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="validateEmailTemplate">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateEmailTemplateResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateEmailTemplateInLocale">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="validateEmailTemplateInLocale">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateEmailTemplateInLocaleResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateAllNoteTemplates">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="validateAllNoteTemplates">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAllNoteTemplatesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateAllNoteTemplatesInLocale">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="validateAllNoteTemplatesInLocale">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAllNoteTemplatesInLocaleResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateNoteTemplate">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="validateNoteTemplate">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateNoteTemplateResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateNoteTemplateInLocale">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="validateNoteTemplateInLocale">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateNoteTemplateInLocaleResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listTemplates">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="listTemplates">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="listTemplatesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listDocumentTemplates">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="listDocumentTemplates">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="listDocumentTemplatesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listEmailTemplates">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="listEmailTemplates">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="listEmailTemplatesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listNoteTemplates">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="listNoteTemplates">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="listNoteTemplatesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="importFormFields">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="importFormFields">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="importFormFieldsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TemplateToolsAPISoap11Binding" type="tns:TemplateToolsAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="validateDocumentTemplate">
      <soap11:operation style="document"/>
      <wsdl:input name="validateDocumentTemplate">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateDocumentTemplateResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateTemplate">
      <soap11:operation style="document"/>
      <wsdl:input name="validateTemplate">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateTemplateResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateDocumentTemplateInLocale">
      <soap11:operation style="document"/>
      <wsdl:input name="validateDocumentTemplateInLocale">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateDocumentTemplateInLocaleResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateTemplateInLocale">
      <soap11:operation style="document"/>
      <wsdl:input name="validateTemplateInLocale">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateTemplateInLocaleResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateAllDocumentTemplates">
      <soap11:operation style="document"/>
      <wsdl:input name="validateAllDocumentTemplates">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAllDocumentTemplatesResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateAllTemplates">
      <soap11:operation style="document"/>
      <wsdl:input name="validateAllTemplates">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAllTemplatesResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateAllDocumentTemplatesInLocale">
      <soap11:operation style="document"/>
      <wsdl:input name="validateAllDocumentTemplatesInLocale">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAllDocumentTemplatesInLocaleResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateAllTemplatesInLocale">
      <soap11:operation style="document"/>
      <wsdl:input name="validateAllTemplatesInLocale">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAllTemplatesInLocaleResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateAllEmailTemplates">
      <soap11:operation style="document"/>
      <wsdl:input name="validateAllEmailTemplates">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAllEmailTemplatesResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateAllEmailTemplatesInLocale">
      <soap11:operation style="document"/>
      <wsdl:input name="validateAllEmailTemplatesInLocale">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAllEmailTemplatesInLocaleResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateEmailTemplate">
      <soap11:operation style="document"/>
      <wsdl:input name="validateEmailTemplate">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateEmailTemplateResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateEmailTemplateInLocale">
      <soap11:operation style="document"/>
      <wsdl:input name="validateEmailTemplateInLocale">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateEmailTemplateInLocaleResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateAllNoteTemplates">
      <soap11:operation style="document"/>
      <wsdl:input name="validateAllNoteTemplates">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAllNoteTemplatesResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateAllNoteTemplatesInLocale">
      <soap11:operation style="document"/>
      <wsdl:input name="validateAllNoteTemplatesInLocale">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAllNoteTemplatesInLocaleResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateNoteTemplate">
      <soap11:operation style="document"/>
      <wsdl:input name="validateNoteTemplate">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateNoteTemplateResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateNoteTemplateInLocale">
      <soap11:operation style="document"/>
      <wsdl:input name="validateNoteTemplateInLocale">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateNoteTemplateInLocaleResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listTemplates">
      <soap11:operation style="document"/>
      <wsdl:input name="listTemplates">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="listTemplatesResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listDocumentTemplates">
      <soap11:operation style="document"/>
      <wsdl:input name="listDocumentTemplates">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="listDocumentTemplatesResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listEmailTemplates">
      <soap11:operation style="document"/>
      <wsdl:input name="listEmailTemplates">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="listEmailTemplatesResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listNoteTemplates">
      <soap11:operation style="document"/>
      <wsdl:input name="listNoteTemplates">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="listNoteTemplatesResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="importFormFields">
      <soap11:operation style="document"/>
      <wsdl:input name="importFormFields">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="importFormFieldsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TemplateToolsAPI">
    <wsdl:port name="TemplateToolsAPISoap12Port" binding="tns:TemplateToolsAPISoap12Binding">
      <soap12:address location="local:///gw/webservice/cc/TemplateToolsAPI"/>
    </wsdl:port>
    <wsdl:port name="TemplateToolsAPISoap11Port" binding="tns:TemplateToolsAPISoap11Binding">
      <soap11:address location="local:///gw/webservice/cc/TemplateToolsAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="validateDocumentTemplate">
    <wsdl:part name="parameters" element="tns:validateDocumentTemplate"/>
  </wsdl:message>
  <wsdl:message name="validateDocumentTemplateResponse">
    <wsdl:part name="parameters" element="tns:validateDocumentTemplateResponse"/>
  </wsdl:message>
  <wsdl:message name="SOAPException">
    <wsdl:part name="SOAPException" element="tns:SOAPException"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="validateTemplate">
    <wsdl:part name="parameters" element="tns:validateTemplate"/>
  </wsdl:message>
  <wsdl:message name="validateTemplateResponse">
    <wsdl:part name="parameters" element="tns:validateTemplateResponse"/>
  </wsdl:message>
  <wsdl:message name="validateDocumentTemplateInLocale">
    <wsdl:part name="parameters" element="tns:validateDocumentTemplateInLocale"/>
  </wsdl:message>
  <wsdl:message name="validateDocumentTemplateInLocaleResponse">
    <wsdl:part name="parameters" element="tns:validateDocumentTemplateInLocaleResponse"/>
  </wsdl:message>
  <wsdl:message name="validateTemplateInLocale">
    <wsdl:part name="parameters" element="tns:validateTemplateInLocale"/>
  </wsdl:message>
  <wsdl:message name="validateTemplateInLocaleResponse">
    <wsdl:part name="parameters" element="tns:validateTemplateInLocaleResponse"/>
  </wsdl:message>
  <wsdl:message name="validateAllDocumentTemplates">
    <wsdl:part name="parameters" element="tns:validateAllDocumentTemplates"/>
  </wsdl:message>
  <wsdl:message name="validateAllDocumentTemplatesResponse">
    <wsdl:part name="parameters" element="tns:validateAllDocumentTemplatesResponse"/>
  </wsdl:message>
  <wsdl:message name="validateAllTemplates">
    <wsdl:part name="parameters" element="tns:validateAllTemplates"/>
  </wsdl:message>
  <wsdl:message name="validateAllTemplatesResponse">
    <wsdl:part name="parameters" element="tns:validateAllTemplatesResponse"/>
  </wsdl:message>
  <wsdl:message name="validateAllDocumentTemplatesInLocale">
    <wsdl:part name="parameters" element="tns:validateAllDocumentTemplatesInLocale"/>
  </wsdl:message>
  <wsdl:message name="validateAllDocumentTemplatesInLocaleResponse">
    <wsdl:part name="parameters" element="tns:validateAllDocumentTemplatesInLocaleResponse"/>
  </wsdl:message>
  <wsdl:message name="validateAllTemplatesInLocale">
    <wsdl:part name="parameters" element="tns:validateAllTemplatesInLocale"/>
  </wsdl:message>
  <wsdl:message name="validateAllTemplatesInLocaleResponse">
    <wsdl:part name="parameters" element="tns:validateAllTemplatesInLocaleResponse"/>
  </wsdl:message>
  <wsdl:message name="validateAllEmailTemplates">
    <wsdl:part name="parameters" element="tns:validateAllEmailTemplates"/>
  </wsdl:message>
  <wsdl:message name="validateAllEmailTemplatesResponse">
    <wsdl:part name="parameters" element="tns:validateAllEmailTemplatesResponse"/>
  </wsdl:message>
  <wsdl:message name="validateAllEmailTemplatesInLocale">
    <wsdl:part name="parameters" element="tns:validateAllEmailTemplatesInLocale"/>
  </wsdl:message>
  <wsdl:message name="validateAllEmailTemplatesInLocaleResponse">
    <wsdl:part name="parameters" element="tns:validateAllEmailTemplatesInLocaleResponse"/>
  </wsdl:message>
  <wsdl:message name="validateEmailTemplate">
    <wsdl:part name="parameters" element="tns:validateEmailTemplate"/>
  </wsdl:message>
  <wsdl:message name="validateEmailTemplateResponse">
    <wsdl:part name="parameters" element="tns:validateEmailTemplateResponse"/>
  </wsdl:message>
  <wsdl:message name="validateEmailTemplateInLocale">
    <wsdl:part name="parameters" element="tns:validateEmailTemplateInLocale"/>
  </wsdl:message>
  <wsdl:message name="validateEmailTemplateInLocaleResponse">
    <wsdl:part name="parameters" element="tns:validateEmailTemplateInLocaleResponse"/>
  </wsdl:message>
  <wsdl:message name="validateAllNoteTemplates">
    <wsdl:part name="parameters" element="tns:validateAllNoteTemplates"/>
  </wsdl:message>
  <wsdl:message name="validateAllNoteTemplatesResponse">
    <wsdl:part name="parameters" element="tns:validateAllNoteTemplatesResponse"/>
  </wsdl:message>
  <wsdl:message name="validateAllNoteTemplatesInLocale">
    <wsdl:part name="parameters" element="tns:validateAllNoteTemplatesInLocale"/>
  </wsdl:message>
  <wsdl:message name="validateAllNoteTemplatesInLocaleResponse">
    <wsdl:part name="parameters" element="tns:validateAllNoteTemplatesInLocaleResponse"/>
  </wsdl:message>
  <wsdl:message name="validateNoteTemplate">
    <wsdl:part name="parameters" element="tns:validateNoteTemplate"/>
  </wsdl:message>
  <wsdl:message name="validateNoteTemplateResponse">
    <wsdl:part name="parameters" element="tns:validateNoteTemplateResponse"/>
  </wsdl:message>
  <wsdl:message name="validateNoteTemplateInLocale">
    <wsdl:part name="parameters" element="tns:validateNoteTemplateInLocale"/>
  </wsdl:message>
  <wsdl:message name="validateNoteTemplateInLocaleResponse">
    <wsdl:part name="parameters" element="tns:validateNoteTemplateInLocaleResponse"/>
  </wsdl:message>
  <wsdl:message name="listTemplates">
    <wsdl:part name="parameters" element="tns:listTemplates"/>
  </wsdl:message>
  <wsdl:message name="listTemplatesResponse">
    <wsdl:part name="parameters" element="tns:listTemplatesResponse"/>
  </wsdl:message>
  <wsdl:message name="listDocumentTemplates">
    <wsdl:part name="parameters" element="tns:listDocumentTemplates"/>
  </wsdl:message>
  <wsdl:message name="listDocumentTemplatesResponse">
    <wsdl:part name="parameters" element="tns:listDocumentTemplatesResponse"/>
  </wsdl:message>
  <wsdl:message name="listEmailTemplates">
    <wsdl:part name="parameters" element="tns:listEmailTemplates"/>
  </wsdl:message>
  <wsdl:message name="listEmailTemplatesResponse">
    <wsdl:part name="parameters" element="tns:listEmailTemplatesResponse"/>
  </wsdl:message>
  <wsdl:message name="listNoteTemplates">
    <wsdl:part name="parameters" element="tns:listNoteTemplates"/>
  </wsdl:message>
  <wsdl:message name="listNoteTemplatesResponse">
    <wsdl:part name="parameters" element="tns:listNoteTemplatesResponse"/>
  </wsdl:message>
  <wsdl:message name="importFormFields">
    <wsdl:part name="parameters" element="tns:importFormFields"/>
  </wsdl:message>
  <wsdl:message name="importFormFieldsResponse">
    <wsdl:part name="parameters" element="tns:importFormFieldsResponse"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale-only">
    <wsdl:part name="gw-locale-only" element="gwsoap:gw_locale"/>
  </wsdl:message>
  <wsdl:message name="gw-language-only">
    <wsdl:part name="gw-language-only" element="gwsoap:gw_language"/>
  </wsdl:message>
  <wsdl:message name="gw-transaction-id">
    <wsdl:part name="gw-transaction-id" element="gwsoap:transaction_id"/>
  </wsdl:message>
</wsdl:definitions>