configuration/generated/wsi/local/gw/webservice/cc/cc900/pcintegration/PCClaimSearchIntegrationAPI.wsdl

<?xml version="1.0"?>
<!-- Generated WSDL for gw.webservice.cc.cc900.pcintegration.PCClaimSearchIntegrationAPI web service -->
<wsdl:definitions targetNamespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/PCClaimSearchIntegrationAPI" name="PCClaimSearchIntegrationAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimSearchCriteria" xmlns:pogo2="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaim" xmlns:pogo3="http://guidewire.com/cc/typekey" xmlns:pogo4="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimDetail" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/PCClaimSearchIntegrationAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/PCClaimSearchIntegrationAPI" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="../../../../../../../gw/xsd/guidewire/soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimDetail"/>
      <xs:import namespace="http://guidewire.com/cc/typekey"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaim"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimSearchCriteria"/>
      <!-- searchForClaims(PCClaimSearchCriteria) : PCClaim[] -->
      <xs:element name="searchForClaims">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="criteria" type="pogo:PCClaimSearchCriteria" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="searchForClaimsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="pogo2:PCClaim" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DataConversionException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="SOAPException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
      <!-- searchForClaimsMultiCriteria(PCClaimSearchCriteria[]) : PCClaim[] -->
      <xs:element name="searchForClaimsMultiCriteria">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="criteria" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="pogo:PCClaimSearchCriteria" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="searchForClaimsMultiCriteriaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="pogo2:PCClaim" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- getNumberOfClaims(PCClaimSearchCriteria) : Integer -->
      <xs:element name="getNumberOfClaims">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="criteria" type="pogo:PCClaimSearchCriteria" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getNumberOfClaimsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- getNumberOfClaimsMultiCriteria(PCClaimSearchCriteria[]) : Integer -->
      <xs:element name="getNumberOfClaimsMultiCriteria">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="criteria" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="pogo:PCClaimSearchCriteria" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getNumberOfClaimsMultiCriteriaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- getClaimByClaimNumber(String) : PCClaimDetail -->
      <xs:element name="getClaimByClaimNumber">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="claimNumber" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getClaimByClaimNumberResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="pogo4:PCClaimDetail" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- giveUserClaimViewPermission(String, String) -->
      <xs:element name="giveUserClaimViewPermission">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="claimPublicID" type="xs:string" minOccurs="0"/>
            <xs:element name="userName" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="giveUserClaimViewPermissionResponse">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimSearchCriteria" elementFormDefault="qualified" xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimDetail"/>
      <xs:import namespace="http://guidewire.com/cc/typekey"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaim"/>
      <xs:complexType name="PCClaimSearchCriteria">
        <xs:sequence>
          <xs:element name="BeginDate" type="xs:dateTime" minOccurs="0" gw:type="java.util.Date"/>
          <xs:element name="EndDate" type="xs:dateTime" minOccurs="0" gw:type="java.util.Date"/>
          <xs:element name="Lob" type="xs:string" minOccurs="0"/>
          <xs:element name="PolicyNumbers" minOccurs="0" gw:viewas="array">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Entry" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Status" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaim" elementFormDefault="qualified" xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimDetail"/>
      <xs:import namespace="http://guidewire.com/cc/typekey"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimSearchCriteria"/>
      <xs:complexType name="PCClaim">
        <xs:sequence>
          <xs:element name="ClaimNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="ClaimSecurityType" type="xs:string" minOccurs="0"/>
          <xs:element name="FraudIndicator" type="xs:boolean" minOccurs="0"/>
          <xs:element name="LargeLossIndicator" type="xs:boolean" minOccurs="0"/>
          <xs:element name="LitigationIndicator" type="xs:boolean" minOccurs="0"/>
          <xs:element name="LossDate" type="xs:dateTime" minOccurs="0" gw:type="java.util.Date"/>
          <xs:element name="PolicyNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="PolicyTypeName" type="xs:string" minOccurs="0"/>
          <xs:element name="RemainingReserves" type="xs:decimal" minOccurs="0"/>
          <xs:element name="RemainingReservesCurrency" type="pogo3:Currency" minOccurs="0"/>
          <xs:element name="Status" type="xs:string" minOccurs="0"/>
          <xs:element name="TotalIncurred" type="xs:decimal" minOccurs="0"/>
          <xs:element name="TotalIncurredCurrency" type="pogo3:Currency" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/cc/typekey" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimDetail"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaim"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimSearchCriteria"/>
      <xs:simpleType name="Currency">
        <xs:restriction base="xs:string">
          <xs:enumeration value="usd"/>
          <xs:enumeration value="eur"/>
          <xs:enumeration value="gbp"/>
          <xs:enumeration value="cad"/>
          <xs:enumeration value="aud"/>
          <xs:enumeration value="rub"/>
          <xs:enumeration value="jpy"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimDetail" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/cc/typekey"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaim"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/pcentities/PCClaimSearchCriteria"/>
      <xs:complexType name="PCClaimDetail">
        <xs:sequence>
          <xs:element name="ClaimInfoPublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="ClaimPublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="ClaimSecurityType" type="xs:string" minOccurs="0"/>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
          <xs:element name="Injury" type="xs:boolean" minOccurs="0"/>
          <xs:element name="Litigation" type="xs:boolean" minOccurs="0"/>
          <xs:element name="LossCause" type="xs:string" minOccurs="0"/>
          <xs:element name="Recoveries" type="xs:decimal" minOccurs="0"/>
          <xs:element name="RecoveriesCurrency" type="pogo3:Currency" minOccurs="0"/>
          <xs:element name="RemainingReserves" type="xs:decimal" minOccurs="0"/>
          <xs:element name="RemainingReservesCurrency" type="pogo3:Currency" minOccurs="0"/>
          <xs:element name="TotalPaid" type="xs:decimal" minOccurs="0"/>
          <xs:element name="TotalPaidCurrency" type="pogo3:Currency" minOccurs="0"/>
          <xs:element name="pcClaim" type="pogo2:PCClaim" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="PCClaimSearchIntegrationAPIPortType">
    <wsdl:operation name="searchForClaims">
      <wsdl:input name="searchForClaims" message="tns:searchForClaims"/>
      <wsdl:output name="searchForClaimsResponse" message="tns:searchForClaimsResponse"/>
      <!-- If any of the required fields in PCClaimSearchCriteria is null or the end date is before the begin date -->
      <wsdl:fault name="DataConversionException" message="tns:DataConversionException"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="searchForClaimsMultiCriteria">
      <wsdl:input name="searchForClaimsMultiCriteria" message="tns:searchForClaimsMultiCriteria"/>
      <wsdl:output name="searchForClaimsMultiCriteriaResponse" message="tns:searchForClaimsMultiCriteriaResponse"/>
      <!-- If any of the required fields in PCClaimSearchCriteria is null or the end date is before the begin date -->
      <wsdl:fault name="DataConversionException" message="tns:DataConversionException"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfClaims">
      <wsdl:input name="getNumberOfClaims" message="tns:getNumberOfClaims"/>
      <wsdl:output name="getNumberOfClaimsResponse" message="tns:getNumberOfClaimsResponse"/>
      <!-- If any of the required fields in PCClaimSearchCriteria is null or the end date is before the begin date -->
      <wsdl:fault name="DataConversionException" message="tns:DataConversionException"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfClaimsMultiCriteria">
      <wsdl:input name="getNumberOfClaimsMultiCriteria" message="tns:getNumberOfClaimsMultiCriteria"/>
      <wsdl:output name="getNumberOfClaimsMultiCriteriaResponse" message="tns:getNumberOfClaimsMultiCriteriaResponse"/>
      <!-- If any of the required fields in PCClaimSearchCriteria is null or the end date is before the begin date -->
      <wsdl:fault name="DataConversionException" message="tns:DataConversionException"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="getClaimByClaimNumber">
      <wsdl:input name="getClaimByClaimNumber" message="tns:getClaimByClaimNumber"/>
      <wsdl:output name="getClaimByClaimNumberResponse" message="tns:getClaimByClaimNumberResponse"/>
      <!-- If any of the required fields in PCClaimSearchCriteria is null -->
      <wsdl:fault name="DataConversionException" message="tns:DataConversionException"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="giveUserClaimViewPermission">
      <wsdl:input name="giveUserClaimViewPermission" message="tns:giveUserClaimViewPermission"/>
      <wsdl:output name="giveUserClaimViewPermissionResponse" message="tns:giveUserClaimViewPermissionResponse"/>
      <!-- If either claimPublicID or userName is null -->
      <wsdl:fault name="DataConversionException" message="tns:DataConversionException"/>
      <!--  -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PCClaimSearchIntegrationAPISoap12Binding" type="tns:PCClaimSearchIntegrationAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="searchForClaims">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="searchForClaims">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchForClaimsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchForClaimsMultiCriteria">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="searchForClaimsMultiCriteria">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchForClaimsMultiCriteriaResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfClaims">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getNumberOfClaims">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNumberOfClaimsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfClaimsMultiCriteria">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getNumberOfClaimsMultiCriteria">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNumberOfClaimsMultiCriteriaResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getClaimByClaimNumber">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getClaimByClaimNumber">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClaimByClaimNumberResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="giveUserClaimViewPermission">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="giveUserClaimViewPermission">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="giveUserClaimViewPermissionResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PCClaimSearchIntegrationAPISoap11Binding" type="tns:PCClaimSearchIntegrationAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="searchForClaims">
      <soap11:operation style="document"/>
      <wsdl:input name="searchForClaims">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchForClaimsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchForClaimsMultiCriteria">
      <soap11:operation style="document"/>
      <wsdl:input name="searchForClaimsMultiCriteria">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchForClaimsMultiCriteriaResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfClaims">
      <soap11:operation style="document"/>
      <wsdl:input name="getNumberOfClaims">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNumberOfClaimsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfClaimsMultiCriteria">
      <soap11:operation style="document"/>
      <wsdl:input name="getNumberOfClaimsMultiCriteria">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNumberOfClaimsMultiCriteriaResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getClaimByClaimNumber">
      <soap11:operation style="document"/>
      <wsdl:input name="getClaimByClaimNumber">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClaimByClaimNumberResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="giveUserClaimViewPermission">
      <soap11:operation style="document"/>
      <wsdl:input name="giveUserClaimViewPermission">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="giveUserClaimViewPermissionResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PCClaimSearchIntegrationAPI">
    <wsdl:port name="PCClaimSearchIntegrationAPISoap12Port" binding="tns:PCClaimSearchIntegrationAPISoap12Binding">
      <soap12:address location="local:///gw/webservice/cc/cc900/pcintegration/PCClaimSearchIntegrationAPI"/>
    </wsdl:port>
    <wsdl:port name="PCClaimSearchIntegrationAPISoap11Port" binding="tns:PCClaimSearchIntegrationAPISoap11Binding">
      <soap11:address location="local:///gw/webservice/cc/cc900/pcintegration/PCClaimSearchIntegrationAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="searchForClaims">
    <wsdl:part name="parameters" element="tns:searchForClaims"/>
  </wsdl:message>
  <wsdl:message name="searchForClaimsResponse">
    <wsdl:part name="parameters" element="tns:searchForClaimsResponse"/>
  </wsdl:message>
  <wsdl:message name="DataConversionException">
    <wsdl:part name="DataConversionException" element="tns:DataConversionException"/>
  </wsdl:message>
  <wsdl:message name="SOAPException">
    <wsdl:part name="SOAPException" element="tns:SOAPException"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="searchForClaimsMultiCriteria">
    <wsdl:part name="parameters" element="tns:searchForClaimsMultiCriteria"/>
  </wsdl:message>
  <wsdl:message name="searchForClaimsMultiCriteriaResponse">
    <wsdl:part name="parameters" element="tns:searchForClaimsMultiCriteriaResponse"/>
  </wsdl:message>
  <wsdl:message name="getNumberOfClaims">
    <wsdl:part name="parameters" element="tns:getNumberOfClaims"/>
  </wsdl:message>
  <wsdl:message name="getNumberOfClaimsResponse">
    <wsdl:part name="parameters" element="tns:getNumberOfClaimsResponse"/>
  </wsdl:message>
  <wsdl:message name="getNumberOfClaimsMultiCriteria">
    <wsdl:part name="parameters" element="tns:getNumberOfClaimsMultiCriteria"/>
  </wsdl:message>
  <wsdl:message name="getNumberOfClaimsMultiCriteriaResponse">
    <wsdl:part name="parameters" element="tns:getNumberOfClaimsMultiCriteriaResponse"/>
  </wsdl:message>
  <wsdl:message name="getClaimByClaimNumber">
    <wsdl:part name="parameters" element="tns:getClaimByClaimNumber"/>
  </wsdl:message>
  <wsdl:message name="getClaimByClaimNumberResponse">
    <wsdl:part name="parameters" element="tns:getClaimByClaimNumberResponse"/>
  </wsdl:message>
  <wsdl:message name="giveUserClaimViewPermission">
    <wsdl:part name="parameters" element="tns:giveUserClaimViewPermission"/>
  </wsdl:message>
  <wsdl:message name="giveUserClaimViewPermissionResponse">
    <wsdl:part name="parameters" element="tns:giveUserClaimViewPermissionResponse"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale-only">
    <wsdl:part name="gw-locale-only" element="gwsoap:gw_locale"/>
  </wsdl:message>
  <wsdl:message name="gw-language-only">
    <wsdl:part name="gw-language-only" element="gwsoap:gw_language"/>
  </wsdl:message>
  <wsdl:message name="gw-transaction-id">
    <wsdl:part name="gw-transaction-id" element="gwsoap:transaction_id"/>
  </wsdl:message>
</wsdl:definitions>