configuration/xsd/MetroReportTemplateMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="MetroReportTemplateMapping">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Report" type="ReportType" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="ReportType">
    <xsd:sequence>
      <xsd:element name="Type" type="xsd:string"/>
      <xsd:element name="Template" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>